<a href="{% url 'books:book_details' book_slug=book.slug %}" >
    <div class="book-card">
        <div class="book-card-image">
            {% if book.thumbnail != "" %}
                <img class="book-cover" src="http://books.toscrape.com/{{ book.thumbnail }}" alt="{{ book.title}}" loading="lazy">
            {% else %}
                {% include '../partials/image_unavailable.html' %}
            {% endif %}
        </div>
        <div class="book-card-details">
            <div class="title">
                <h2> {{ book.title}}</h2>
            </div>
            <div class="book-card-details-price">
                <span> €{{ book.price }}</span>
                <div class="review-stars-row flex-end">
                     {% include './review-stars.html' with rating=book.rating%}
                </div>
            </div>
        </div>

    </div>
</a>
