{% extends '../base.html' %}
{% block title %}
Welcome to Book Store
{% endblock %}
{% block content %}
{% if not error %}
{% include '../partials/back_icon.html' %}
<div class="book-details-grid">
    <h1>{{book.title}}</h1>
    <div class="book-rating-row">
        {% if book.rating > 0 %}
        <div class="review-stars-row flex-start">
            {% include '../partials/review-stars.html' with rating=book.rating num_review=book.num_reviews %}
        </div>
        {% else %}
        {% endif %}
    </div>
    <div class="book-details-content">
        <div class="book-details-image">
            {% if book.thumbnail != "" %}
                <img src="http://books.toscrape.com/{{book.thumbnail}}" alt="{{ book.title }}" loading="lazy">
            {% else %}
                {% include '../partials/image_unavailable.html' %}
            {% endif %}
        </div>
        <div class="book-details-description">
            <p>{{ book.description }}</p>
            <p>€ {{ book.price }}</p>
            {% if book.availablility %}
            <p class="color-success"> In Stock</p>
            {% include '../partials/add_to_basket.html' with book_slug=book.slug %}
            {% else %}
            <p class="color-error"> Out of Stock</p>
            {% endif %}
            

        </div>
    </div>
    <div class="book-recommendation-row">
        <h2>Books you might like</h2>
        <p>Coming Soon</p>
    </div>
</div>

{% else %}
    <h1> Not Found </h1>
    
{% endif %}
{% endblock%}